<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link href="
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.jpg"
                width="156px"
                height="142px"
                alt=""
                style="border-radius: 50%"
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="images/Facebook.jpg" alt="" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="images/Instagram.jpg" alt="" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="images/Twitter.jpg" alt="" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="images/Linkeding.jpg" alt="" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="images/Youtube.jpg" alt="" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="images/Dribbble.jpg" alt="" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="box_about_me1">
              <div class="about_me_age">
                <span class="levels">Age:</span>
              </div>
              <span class="levels">24</span>
            </div>
            <div class="box_about_me1">
              <div class="about_me_residence">
                <span class="levels">Residence:</span>
              </div>
              <span class="levels">BD</span>
            </div>
            <div class="box_about_me1">
              <div class="about_frelance">
                <span class="levels">Freelance:</span>
              </div>
              <span class="levels">Available</span>
            </div>
            <div class="box_about_me1">
              <div class="about_me_adress">
                <span class="levels">Address:</span>
              </div>
              <span class="levels">Dhaka,Bangladesh</span>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <!-- <div class="languages"> -->
            <h1>Languages</h1>
            <div class="bangla_lang">
              <div>Bangla</div>
              <div>100%</div>
            </div>
            <div class="box_line"></div>
            <div class="bangla_lang">
              <div>English</div>
              <div>80%</div>
            </div>
            <div class="box_line"></div>
            <div class="bangla_lang">
              <div>Spanish</div>
              <div>60%</div>
            </div>
            <div class="box_line"></div>
            <!-- </div> -->
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <!-- <div class="languages"> -->
            <h1>Skills</h1>
            <div class="bangla_lang">
              <div>HTML</div>
              <div>90%</div>
            </div>
            <div class="box_line"></div>
            <div class="bangla_lang">
              <div>CSS</div>
              <div>85%</div>
            </div>
            <div class="box_line"></div>
            <div class="bangla_lang">
              <div>JS</div>
              <div>80%</div>
            </div>
            <div class="box_line"></div>
            <div class="bangla_lang">
              <div>PHP</div>
              <div>75%</div>
            </div>
            <div class="box_line"></div>
            <div class="bangla_lang">
              <div>WordPress</div>
              <div>85%</div>
            </div>
            <div class="box_line"></div>
            <!-- </div> -->
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <h1>Extra Skills</h1>
            <div class="left_skills">
              <div>
                <img src="images/icons.png" alt="" />
                <strong>Bootstrap,Materialize</strong>
              </div>
              <div>
                <img src="images/icons.png" alt="" />
                <strong>Stylus,Sass,Less</strong>
              </div>
              <div>
                <img src="images/icons.png" alt="" />
                <strong>Gulp,Webpack,Grunt</strong>
              </div>
              <div>
                <img src="images/icons.png" alt="" />
                <strong>Git Knowledge</strong>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="wrapper">
            <div class="icons">
              <img class="icons_im1" src="images/ellipse 15.svg" alt="" />
              <img class="icons_im2" src="images/ellipse 12.svg" alt="" />
              <img class="icons_im3" src="images/ellipse 12.svg" alt="" />
              <img class="icons_im4" src="images/polygon 1.svg" alt="" />
              <img class="icons_im5" src="images/rectangle 52.svg" alt="" />
              <img class="icons_im6" src="images/ellipse 15.svg" alt="" />
              <img class="icons_im7" src="images/rectangle 51.png" alt="" />
            </div>
            <div class="left_side">
              <h1>Doctor neurologists in OHSU Hospital</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                suspendisse nunc lectus.
              </p>
              <button>
                HIRE ME
                <img src="images/frame.png" alt="" />
              </button>
            </div>
            <div class="right_side">
              <img src="images/Your image 1.png" alt="" />
            </div>
          </div>
          <div class="wrapper_footer">
            <div class="wrapper_text">
              <h1>My Services</h1>
              <p>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit. lorem
                ipsum
              </p>
            </div>
            <div class="wrapper_boxes">
              <div class="wrapper_boxes_2">
                <div class="boxes-1">
                  <img src="images/coding.svg" alt="" />
                  <h1>Web Development</h1>
                  <p>Blog, E-commerce</p>
                </div>
                <div class="boxes-1">
                  <img src="images/illustration.svg" alt="" />
                  <h1>UI/UX design</h1>
                  <p>Mobile app, website design</p>
                </div>
                <div class="boxes-1">
                  <img src="images/Microphone.png" alt="" />
                  <h1>Sound Design</h1>
                  <p>Voice Over, Beat Making</p>
                </div>
                <div class="boxes-1">
                  <img src="images/game.svg" alt="" />
                  <h1>Game Design</h1>
                  <p>Character Design, Props & Objects</p>
                </div>
                <div class="boxes-1">
                  <img src="images/photograher.svg" alt="" />
                  <h1>Photography</h1>
                  <p>Portrait, Product Photography</p>
                </div>
                <div class="boxes-1">
                  <!-- <img src="images/coding.svg" alt="" /> -->
                  <h1>Advertising</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vitae nulla diam in ac dictum a urna viverra morbi.
                  </p>
                  <p class="order_now">ORDER NOW -></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <!-- <div class="wrapper_right_side"> -->
          <div class="right_side_img1">
            <img src="images/Contrast.png" alt="" />
          </div>
          <div class="right_side_img3">
            <img class="right_side_img3_a" src="images/home1.png" alt="" />
            <img class="right_side_img3_a" src="images/service.png" alt="" />
            <img class="right_side_img3_a" src="images/Cv.png" alt="" />
            <img class="right_side_img3_a" src="images/Portfolio.png" alt="" />
            <img class="right_side_img3_a" src="images/blog.png" alt="" />
            <img class="right_side_img3_a" src="images/contact.png" alt="" />
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
